/*CSS Reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Navigation Bar*/
nav{
  height: 82px;
  width: auto;
  background: #3a5795;
}

.main-nav{
  margin-left: auto;
  margin-right: auto;
  height: 77px;
  width: 980px;
  padding-top: 13px;
}

.fb-logo{
  cursor: pointer;
  float: left;
  margin-top: 13px;
}

form {
  height: 64px;
  width: 392px;
  float: right;
}

.login-title{
  width: inherit;
  height: 21px;
}

.login-title .email-phone, .login-title .password{
  height: 10px;
  width: 150px;
  float: left;
  padding: 0px 0px 4px 14px;
  font-family: helvetica;
  font-size: 12px;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 3px;
}

.login-input{
  width: 392px;
  height: 21px;
  margin-bottom: 5px; 
}

.login-input .enter-email, .login-input .enter-pw{
  width: 142px;
  height: 14px;
  margin-left: 15px;
  border-collapse: separate;
  border: 1px solid #1d2a5b;
  font-family: helvetica;
  font-size: 12px;
  padding: 3px 3px 4px 3px;
}

.log-in{
  cursor: pointer;
  height: 23px;
  width: 48px;
  float: right;
  text-align: center;
  float: right;
}

.keep-logged-in{
  width: inherit;
  height: 19px;
  margin-left: 12px;
  margin-top: 3px;
}

.keep-logged-in .checkbox{
  float: left;
  margin-top: 4px;
}

.keep-logged-in .left, .keep-logged-in .right{
  padding-top: 4px;
  height: 15px;
  width: 150px;
  font-size: 12px;
  font-family: helvetica;
  cursor: pointer;
  color: #9daccb;
}

.left{
  float: left;
  clear: right;
}

.right{
  float: left;
  margin-left: 5px;
}

.right:hover{
  text-decoration: underline;
}

/*Section*/
section{
  width: auto;
  height: 600px;
  background: #edf0f5;
}

.main-section{
  width: 980px;
  margin-left: auto;
  margin-right: auto;
}

.left-wrapper {
  margin-top: 21px;
  float: left;
  width: 565px;
  height: 367px;
}

.left-wrapper h1{
  width: 408px;
  height: 72px;
  display: inline-block;
  font-size: 26px;
  padding: 42px 0px 24px 0px;
  color: #333;
  font-family: helvetica, arial, sans-serif;
}
.top-text, .middle-text, .bottom-text{
  font-family: helvetica, arial, sans-serif; 
  display: inline-block;
  width: 440px;
  vertical-align: middle;
  font-size: 15px;
  color: #666;
  height: 41px;
  padding-top: 15px;
}

.left-wrapper .top, .middle, .bottom{
  height: 57px;
  width: 565px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.left-wrapper span{
  font-weight: bold;
  font-size: 14px;
  padding-right: 17px;
  color: black;
}

.left-wrapper img{
  height: 43px;
  width: 48px;
  display: inline-block;
  float: left;
  margin-right: 23px;
}

.right-wrapper{
  height: 560px;
  width: 399px; 
  float: left;
  margin-top: 21px;
}

.right-wrapper h2{
  font-size: 36px;
  font-family: freight sans bold;
  /*find correct font*/
  margin-bottom: 5px;
  text-align: left;
  height: 43px;
  width: inherit;
  color: #333;
}

.right-wrapper h3{
  font-size: 19px;
  height: 23px;
  width: inherit;
  margin-bottom: 20px;
  color: #333;
  font-family: inherit;
}

.signup-form{
  width: 399px;
  height: 469px;
  padding-bottom: 30px;
}

.signup-form form{
  width: 399px;
}

.lastname, .firstname, .email-mobile, .re-email-mobile, .new-pw{
  width: 376px;
  height: 20px;
  padding: 8px 10px;
  border: 1px solid #bdc7d8;
  font-family: helvetica;
  font-size: 18px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.firstname{
  float: left;
  clear: left;
  width: 172px;
  height: 20px;
}

.lastname{
  float: right;
  width: 172px;
  height: 20px;
}

.signup-form h3{
  color: #141823;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.month, .year, .day{
  text-align: left;
  float: left;
  -webkit-appearance: menulist-button;
}
.signup-form .month{
  width: 65px;
  height: 30px;
}

.signup-form .day{
  width: 54px;
  height: 30px;
}

.signup-form .year{
  width: 60px;
  height: 30px;
}

#bday-question{
  height: 28px;
  width: 150px;
  margin-left: 10px;
  float: left;
  font-size: 11px;
  text-align: left;
  line-height: 1.34;
  cursor: pointer;
  text-decoration: none;
  color: #3b5998;
  font-family: helvetica;
}

.signup-form .sex{
  display: inline-block;
  float: left;
  height: 28px;
  width: inherit;
  font-family: helvetica;
  text-align: left;
  font-size: 12px;
  color: #141823;
  margin-top: 10px;
}

input[type="radio"]{
  margin-right: 5px;
}

.terms-conditions{
  height: 28px;
  width: 316px;
  margin-top: 11px;
  margin-bottom: 11px;
}

.terms-conditions p{
  display: inline-block;
  font-family:  helvetica, arial, sans-serif;
  color: #777;
  font-size: 11px;
  line-height: 1.28; 
}

.terms-conditions a{
  text-decoration: none;
  color: #3b5998;
}

.terms-conditions a:hover{
  text-decoration: underline;
}

.submit-container{
  display: block;
  width: 399px;
  height: 51px;
}

.submit-button{
  width: 194px;
  height: 31px;
  margin-top: 50px;
  background: -webkit-linear-gradient(#67ae55, #578843);
  background-color: #69a74e;
  -webkit-box-shadow: inset 0 1px 1px #a4e388;
  border-color: #3b6e22 #3b6e22 #2c5115;
  -webkit-border-radius: 5px;
  cursor: pointer;
  text-shadow: 0 1px 2px rgba(0,0,0,.5);
  padding: 7px 20px;
  font-size: 12px;
  color: white;
  font-family: helvetica;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}

.create-page{
  height: 33px;
  width: 399px;
  border-top: 1px solid #a0a9c0;
  background: yellow;
  float: left;
}

.create-page p{
  color: #666;
  font-size: 13px;
  font-weight: bold;
}