/*CSS Reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Navigation Bar*/
nav{
  height: 82px;
  width: auto;
  background: #3a5795;
}

.main-nav{
  margin-left: auto;
  margin-right: auto;
  height: inherit;
  width: 980px;
}

.fb-logo{
  margin-top: 17px;
  cursor: pointer;
  display: inline;
  float: left;
}

form {
  height: 64px;
  width: 392px;
  float: right;
  margin-top: 13px;
}

.login-title{
  width: inherit;
  height: 21px;
}

.login-title .email-phone, .login-title .password{
  height: 17px; 
  width: 150px;
  float: left;
  padding: 0px 0px 4px 14px;
  font-family: helvetica;
  font-size: 12px;
  color: white;
}

.login-input{
  width: 392px;
  height: 21px;
}

.login-input .enter-email, .login-input .enter-pw{
  width: 140px;
  height: 14px;
  margin-left: 12px;
  border: 1px solid #1d2a5b;;
  font-family: helvetica;
  font-size: 12px;
  padding: 3px 3px 4px 3px;
}

.log-in{
  cursor: pointer;
  height: 23px;
  width: 48px;
  float: right;
  text-align: center;
  padding: 1px 5px;
}

.keep-logged-in{
  width: inherit;
  height: 19px;
  margin-left: 11px;
  margin-top: 3px;
}

.keep-logged-in .checkbox{
  float: left;
}

.keep-logged-in .left, .keep-logged-in .right{
  padding-top: 4px;
  height: 15px;
  width: 150px;
  font-size: 12px;
  font-family: helvetica;
  cursor: pointer;
  color: #9daccb;
}

.left{
  float: left;
  clear: right;
}

.right {
  float: left;
}

.right:hover{
  text-decoration: underline;
}